<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="../../resources/css/my_style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav nav-pills nav-justified bg-dark whiteTextColour navbar-fixed-top">
            <h5 class="whiteTextColour courierFont mx-3">Citizen Scientist Fall 2022 Hackathon</h5>
            <a class="nav-link active courierFont" aria-current="page" href="#">Home</a>
            <a class="nav-link courierFont" href="rules.html">Rules</a>
            <!--Code to add Discord Logo as a means of joining the Discord if desired. Commented out for now-->
            <!--Can also change it to the Citizen Scientist or Deploy Solutions page-->
            <!--
            <li class="nav-item-content-left">
                <a class="nav-link" href="https://discord.gg/78Re3g7mt2"><img class="img-fluid" src="../../resources/img/Discord-Logo+Wordmark-Color (1).png" atl="An image of the Discord Logo with Wordmark, taken from the Discord website" width="100"></a>
            </li> -->
            <li class="nav-item-content-left">
                <a class="nav-link" href="https://www.deploy.solutions/"><img class="img-fluid" width="30" height="30" src="../../resources/img/deploy-solutions-logo.jpeg" atl="An image of the Deploy Solutions Logo, taken from their LinkedIn Profile" width="100"></a>
            </li>

        </nav>
        <div class="card">
            <div class="card-body mx-auto">
                <h1 class="sansSerifFont mx-auto darkGreyTextColour">Welcome to the Citizen Scientist's Fall 2022 Hackathon!</h1>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-sm-6  mx-auto">
                <div class="card border-info bg-light darkGreyTextColour sansSerifFont">
                    <div class="card-body mx-auto">
                        <h3 class="boldFont centerText underline">Schedule</h3>
                        <ul>
                            <li class="sansSerifFont boldFont hallowCircleBullet">19th November</li>
                            <p><b>Kick Off!</b> Please join us for the official kickoff at 12:00pm EST on Saturday, the 5th of November. We will be
                            meeting in the Kickoff channel in Discord. This is where we will be going over the rules and resources for this Hackathon.</p>
                            <li class="sansSerifFont boldFont">6th November</li>
                            <p><b>Submissions</b> Please have your work submitted by 23:59 EST 20th November. More instructions are posted in #rules and
                            on the Rules page of the website</p>
                            <li class="sansSerifFont boldFont hallowCircleBullet">23rd November</li>
                            <p><b>Judging Completed</b> By 23:59 EST, the judges will have decided upon a winner for this hackathon and will directly message
                            the winners through Discord. This is where prizes will be provided. An annoucement of the winners will also be posted on the Hackathon's
                            Discord.</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="card mx-auto border-0">
                <div class="card-body centerText">
                    <h3 class="sansSerifFont boldFont">Please join the Hackathon Discord!</h3>
                    <a class="nav-link sansSerifFont boldFont" href="https://discord.gg/78Re3g7mt2">Click Here to Join!</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="card-body mx-3">
                    <h3 class="sansSerifFont boldFont underline">Resources:</h3>
                    <p class="sansSerifFont boldFont">Below are some resources that may be of some use.</p>
                    <li class="sansSerifFont"><a href="https://www.youtube.com/watch?v=XdlEGcMtPw4">TED Talk by Rich Sheridan</a></li>
                    <li class="sansSerifFont"><a href="https://usabilitypost.com/2008/08/14/using-light-color-and-contrast-effectively-in-ui-design/">Usability Post - Using Light, Color, and Contrast Effectively in UI Design</a></li>
                    <li class="sansSerifFont"><a href="https://support.discord.com/hc/en-us/articles/360045138571-Beginner-s-Guide-to-Discord">Beginner's Guide to Discord</a></li>
                    <li class="sansSerifFont"><a href="https://discord.com/">Discord Download</a></li>
                    <li class="sansSerifFont"><a href="https://www.deploy.solutions/?utm_medium=presentation&utm_source=general">Deploy Solutions Website</a></li>
                    <li class="sansSerifFont"><a href="https://www.citizenscience.gov/#">Citizen Science Website</a></li>
                </div>
            </div>
        </div>
    </body>
    <footer class="bg-dark">
        <br />
        <h5 class="whiteTextColour boldFont courierFont mx-3">Contact Us!</h5>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Laura Turner:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: latu2162@colorado.edu</p>
        </li>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Will Hinkley:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: wihi1131@colorado.edu</p>
        </li>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Justin Mosbey:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: jmosbey@deploy.solutions</p>
        </li>
        <br />
    </footer>
</html>
