<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="../../resources/css/my_style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav nav-pills nav-justified bg-dark whiteTextColour navbar-fixed-top">
            <h5 class="whiteTextColour courierFont mx-3">Citizen Scientist Fall 2022 Hackathon</h5>
            <a class="nav-link courierFont" aria-current="page" href="landing.html">Home</a>
            <a class="nav-link active courierFont" href="#">Rules</a>
            <!--Code to add Discord Logo as a means of joining the Discord if desired. Commented out for now-->
            <!--Can also change it to the Citizen Scientist or Deploy Solutions page-->
            <!--
            <li class="nav-item-content-left">
                <a class="nav-link" href="https://discord.gg/78Re3g7mt2"><img class="img-fluid" src="../../resources/img/Discord-Logo+Wordmark-Color (1).png" atl="An image of the Discord Logo with Wordmark, taken from the Discord website" width="100"></a>
            </li> -->
            <li class="nav-item-content-left">
                <a class="nav-link" href="https://www.deploy.solutions/"><img class="img-fluid" width="30" height="30" src="../../resources/img/deploy-solutions-logo.jpeg" atl="An image of the Deploy Solutions Logo, taken from their LinkedIn Profile" width="100"></a>
            </li>
        </nav>
        <div class="card">
            <div class="card-body mx-auto">
                <h1 class="sansSerifFont mx-auto darkGreyTextColour">Welcome to the Citizen Scientist's Fall 2022 Hackathon!</h1>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-sm-6  mx-auto">
                <div class="card border-info bg-light darkGreyTextColour sansSerifFont">
                    <div class="card-body mx-auto">
                        <h3 class="boldFont centerText underline">Rules</h3>
                        <ul>
                            <li class="sansSerifFont boldFont hallowCircleBullet">Participation</li>
                            <p>You will be assigned to a small team (3 - 5 persons) to create a design for the Citizen Scientist's flood reporting webpage. Be
                                sure to include some UI features such as to ensure ease of usability for users. 
                            </p>
                            <li class="sansSerifFont boldFont">Submission</li>
                            <p>Please put a link or .pdf of your submission (whatever format you chose to design with) within the #submissions channel on the Discord. Please
                                ensure that you include your team number and names when posting your submission. Please include a small paragraph with your post, describing your
                                submission and the reasoning behind your design. This will allow the judges to better understand your design choices.
                            </p>
                            <li class="sansSerifFont boldFont hallowCircleBullet">Due Date</li>
                            <p>Please ensure that you post your submission by <b>23:59 November 20th EST</b></p>
                            <li class="sansSerifFont boldFont">Resources</li>
                            <p>Please see the Home page as well as the #resources channel on Discord to find some potentially useful resources to help with your project.</p>
                            <li class="sansSerifFont boldFont hallowCircleBullet">Judging Guidelines</li>
                            <p>The Judges will be judging your project based upon the user accessibility, consistency, functionality, and aesthetics of your design.</b></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="bg-dark">
        <br />
        <h5 class="whiteTextColour boldFont courierFont mx-3">Contact Us!</h5>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Laura Turner:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: latu2162@colorado.edu</p>
        </li>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Will Hinkley:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: wihi1131@colorado.edu</p>
        </li>
        <li class="courierFont whiteTextColour boldFont mx-5">
            Justin Mosbey:
            <br />
            <p class="courierFont whiteTextColour thinFont">Email: jmosbey@deploy.solutions</p>
        </li>
        <br />
    </footer>
</html>